.socials {  
  display: flex;
  background-color: rgba(9, 11, 39);
  font-size: 12px;
  font-weight: 600;
  list-style-type: none;
  justify-content: center;
  align-items: center;
  padding: 50px;
  margin-bottom: 0;
}

.socials li {
  color: white;
  margin-right: 3em;
}

.madeBy {
  text-align: center;
  font-size: larger;
}