.reviewListContainer {
  display: flex;
  flex-direction: column;
  justify-content: left;
  width: 50%;
  margin: 0 auto;
}

.reviewListUserReview {
  box-shadow: 3px 3px rgba(0, 0, 0, 0.461);
  background-color: aliceblue;
  margin-bottom: 1em;
  padding: 10px;
  display: flex;
  flex-direction: column;
}

.reviewListTextField {
  margin-left: 1em;
}

.editIcons {
  display: flex;
  flex-direction:row;
  align-items: center;
}